/* Leave period input styles (line, select, etc.) */

#leave-period-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 650px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: none;
}

.leave-period-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    background-color: var(--color-secondary);
    margin: 10px 0px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    box-shadow: none;
}

.leave-period-line select {
    padding: 5px 10px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 14px;
    box-shadow: none;
}

.leave-period-line span {
    font-size: 14px;
    color: #333;
    box-shadow: none;
}

/* .add-line-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.add-line-button,
.validate-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    /* font-size: 14px; */
    /* cursor: pointer;
    margin-right: 5px;
    margin-top: 10px;
}

.add-line-button:hover,
.validate-button:hover {
    background-color: #45a049;
} */
